In [30]:
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer

In [3]:
genome_scores = pd.read_csv(r'F:\Development\Data Glacier Internship\Week7\ml-latest\genome-scores.csv', low_memory=False)
movies = pd.read_csv(r'F:\Development\Data Glacier Internship\Week7\ml-latest\movies.csv', low_memory=False)
ratings = pd.read_csv(r'F:\Development\Data Glacier Internship\Week7\ml-latest\ratings.csv', low_memory=False)

In [4]:
genome_scores_copy = genome_scores.copy()
movies_copy = movies.copy()
ratings_copy = ratings.copy()

## Genome Scores

In [5]:
genome_scores_copy.head()

   movieId  tagId  relevance
0        1      1    0.03200
1        1      2    0.02225
2        1      3    0.07000
3        1      4    0.05900
4        1      5    0.12300

In [7]:
genome_scores_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18472128 entries, 0 to 18472127
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   movieId    int64
 1   tagId      int64
 2   relevance  float64
dtypes: float64(1), int64(2)
memory usage: 422.8 MB

In [8]:
genome_scores_copy.isnull().sum()

movieId      0
tagId        0
relevance    0
dtype: int64

In [10]:
genome_scores_copy.duplicated().sum()

0

In [12]:
# Check the outliers
print(genome_scores_copy['relevance'].min(), genome_scores_copy['relevance'].max())

0.0002499999999999 1.0

Conclusion: No outliers.

## Movies

In [13]:
movies_copy.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [14]:
movies_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86537 entries, 0 to 86536
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  86537 non-null  int64
 1   title    86537 non-null  object
 2   genres   86537 non-null  object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

In [15]:
movies_copy.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [16]:
movies_copy.duplicated().sum()

0

In [31]:
# Encode genres
movies_copy['genres'] = movies_copy['genres'].apply(lambda x: x.split('|'))
mlb = MultiLabelBinarizer()
genres_encoded = mlb.fit_transform(movies_copy['genres'])
genres_df = pd.DataFrame(genres_encoded, columns=mlb.classes_)
movies_encoded = pd.concat([movies_copy.drop('genres', axis=1), genres_df], axis=1)

In [32]:
movies_encoded.head()

,movieId,title,(no genres listed),Action,Adventure,Animation,Children,Comedy,Crime,Documentary,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# Extract year from title

## Ratings

In [18]:
ratings_copy.head()

   userId  movieId  rating   timestamp
0       1        1     4.0  1225734739
1       1      110     4.0  1225865086
2       1      158     4.0  1225733503
3       1      260     4.5  1225735204
4       1      356     5.0  1225735119

In [19]:
ratings_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33832162 entries, 0 to 33832161
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 1.0 GB

In [20]:
ratings_copy.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [21]:
ratings_copy.duplicated().sum()

0

In [22]:
# Check the outliers
print(ratings_copy['rating'].min(), ratings_copy['rating'].max())

0.5 5.0

Conclusion: No outliers.

# Creating a Master Data